{% extends "_base.html" %}
{% from "macros/navbar.html" import navbar with context %}
{% from "macros/formhelper.html" import render_field %}

{% block title %}找回密码{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" charset="utf-8" />
<style type="text/css">
    body {
        padding-top: 80px;
        padding-bottom: 40px;
    }
</style>
<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
<link href="{{ url_for('.static', filename='auth.css') }}" rel="stylesheet">
{% block headmeta %}{% endblock %}
{% endblock %}

{% block body %}
{{ navbar(0) }}
<div class="container">
    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    {% for category, m in messages %}
    {% if category == 'error' %}
    <div class="alert alert-error">
        {% else %}
        <div class="alert">
            {% endif %}
            <a href="#" class="close" data-dismiss="alert">x</a>
            {{ m }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="row">
            <div class="span9">
                <h1>找回密码</h1>
                <form action="{{ url_for('.findpassword') }}" method="POST" class="form-horizontal" >
                    <fieldset>
                        {{ form.hidden_tag() }}

                        {{render_field(form.email, autofocus='autofocus')}}

                        <div class="control-group">
                            <div class="controls">
                                <input type="submit" class="btn btn-primary btn-large" value="Submit" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="span3">
                <h2>个人资料</h2>
                <div class="settings"><a href="{{ url_for('.settings') }}">修改个人资料</a></div>
                <h2>头像</h2>
                <div></div>
                <div class="red">
                    <h2>重设密码</h2>
                    <div class="password"><a href="{{ url_for('.changepassword') }}">修改密码</a></div>
                </div>

            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}" type="text/javascript"></script>
    {% endblock %}
