{% extends "_base.html" %}
{% from "macros/navbar.html" import navbar with context %}

{% block title %}用户登录{% endblock %}
{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" charset="utf-8" />
<style type="text/css">
    body {
        padding-top: 80px;
        padding-bottom: 40px;
    }
</style>
<script src="/static/js/jquery-1.7.1.min.js" type="text/javascript"></script>
{% block headmeta %}{% endblock %}
{% endblock %}

{% block body %}
{{ navbar(-2) }}

<div class="container">
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, m in messages %}
{% if category == 'error' %}
<div class="alert alert-error">
{% else %}
<div class="alert">
{% endif %}
<a href="#" class="close" data-dismiss="alert">x</a>
{{ m }}
</div>
{% endfor %}
{% endif %}
{% endwith %}
    <div class="row">
        <div class="span9">
            <h1>登录</h1>
            <form action="{{ url_for('.login') }}{% if next %}?next={{next}}{%endif%}" method="POST" class="form-horizontal" >
                <fieldset>
                    {{ form.hidden_tag() }}

                    {% for f in form if f.name != 'csrf_token' and f.name != 'csrf' %}
                    <div class="control-group{% if f.errors %} error{% endif %}">
                        {{ f.label(class='control-label') }}
                        <div class="controls">
                            {% if not focus_set %}
                            {{ f(autofocus='autofocus') }}
                            {% set focus_set = True %}
                            {% else %}
                            {{ f() }}
                            {% endif %}
                            {% if f.errors %}
                            <ul>
                                {% for e in f.errors %}
                                <li>{{ e }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="control-group">
                        <div class="controls">
                            <input type="submit" class="btn btn-primary btn-large" value="Submit" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>

        <div class="span3">
            <a class="btn btn-primary btn-large" href="{{ url_for('.register') }}" style="margin: 50px;">注册用户</a>

        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/bootstrap-alert.js') }}" type="text/javascript"></script>
{% endblock %}
