.ui-box{margin:14px 0;background:#fff;border:1px solid #ccc;border-top-color:#dadada;border-radius:4px;box-shadow:1px 1px 10px #bcbcbc;color:#464646;}

.ui-box-container{padding:8px 10px;line-height:1.6;}
.ui-box-header{position:relative;padding:6px 10px;border-bottom:1px solid #dadada;border-radius:3px 3px 0 0;font:14px/1.6 "Helvetica",arial,sans-serif;}
.ui-box-header.primary{background:#575d60;background-image:-webkit-linear-gradient(#7c8488, #44484b);background-image:-moz-linear-gradient(#7c8488, #44484b);background-image:-ms-linear-gradient(#7c8488, #44484b);background-image:-o-linear-gradient(#7c8488, #44484b);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#7c8488', endColorstr='#44484b', GradientType=0);border-bottom:1px solid #3f4345;color:#d9dcdd;}
.ui-box-header.primary a{color:#d9dcdd;}
.ui-box-header.warn{background:rgba(200, 30, 30, 0.8);color:#fff;}
.ui-box-footer{padding:10px;border-top:1px solid #dadada;}
.ui-box-footer.pagination{border-top:0 none;}
.ui-box-label{position:absolute;top:6px;right:10px;color:#fff;font:10px/1.2 "Luxi Sans","Lucida Grande","Hiragino Sans GB",sans-serif;background:#3f4345;padding:2px 6px;border-radius:3px;}
.widget-user .username{color:#fff;font-size:16px;text-shadow:1px 1px 0 #35393b;}
.widget-user .ui-box-footer{text-align:center;}

.fn-clear:after{display:block;content:"";visibility:hidden;font-size:0;clear:both;height:0;}
.fn-clear{zoom:1;}
.fn-wrap{overflow:hidden;word-wrap:break-word;}

.status{float:left;border-right:1px solid #ddd;width:33%;font-size:12px;line-height:1.2;text-align:center;color:#a4a9ac;font-family:"Luxi Sans","Lucida Grande","Hiragino Sans GB",sans-serif;margin-top:6px;}
.status:last-of-type{border-right:0 none;}
.status strong{display:block;font-size:16px;color:#6f777b;}
.ui-avatar{float:left;margin-right:14px;}.ui-avatar:hover{opacity:0.8;}
.ui-avatar img{border-radius:4px;}
.widget-user .username{color:#fff;font-size:16px;text-shadow:1px 1px 0 #35393b; text-align: center; padding-top:10px;}
.widget-user .username a{color:#fff;}
.ui-btn{display:inline-block;margin:0 4px 4px 0;line-height:1.3;background-color:#f4f4f4;color:#333;border:1px solid #d4d4d4;border-radius:3px;font-size:14px;font-weight:bold;text-decoration:none;text-shadow:1px 1px 0 #fff;padding:4px 12px 5px 12px;vertical-align:middle;background-image:-webkit-linear-gradient(#f4f4f4, #ececec);background-image:-moz-linear-gradient(#f4f4f4, #ececec);background-image:-ms-linear-gradient(#f4f4f4, #ececec);background-image:-o-linear-gradient(#f4f4f4, #ececec);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#7c8488', endColorstr='#44484b', GradientType=0);cursor:pointer;}
.ui-btn.active{color:#599bdc;}
.ui-btn:hover{color:white;text-shadow:-1px -1px 0 rgba(0, 0, 0, 0.3);border:1px solid #599bdc;border-bottom-color:#2a65a0;background-color:#599bdc;text-decoration:none;background-image:-webkit-linear-gradient(#599bdc, #2468ab);background-image:-moz-linear-gradient(#599bdc, #2468ab);background-image:-ms-linear-gradient(#599bdc, #2468ab);background-image:-o-linear-gradient(#599bdc, #2468ab);filter:progid:dximagetransform.microsoft.gradient(startColorstr='#599bdc', endColorstr='#2468ab', GradientType=0);}

.btn-center {text-align: center; }
