{% macro profile(user, relation="") %}
{% if user.is_anonymous() %}{% else %}
<div id="user-profile" class="ui-box widget-user">
    {% set profile = user.profile %}
    <div class="ui-box-header primary fn-clear">
        <a class="ui-avatar" href="{{user.url}}"><img src="{% if user.avater %}{{user.avater}}{%else%}{{url_for('static', filename='image/default_avatar.png')}}{%endif%}" alt="{{user.username}}" width="48" height="48"></a>
        <div class="user fn-wrap">
            <div class="username"><a href="{{user.url}}"><strong>{{user.username}}</strong></a></div>
        </div>
    </div>
    <div class="ui-box-container fn-clear">
        <div class="status"><strong>{{profile.topics}}</strong>主题</div>
        <div class="status"><strong>{{profile.replies}}</strong>回复</div>
        <div class="status"><strong>{{profile.nodes}}</strong>节点</div>
    </div>
    <div class="ui-box-container fn-clear">
        <div class="status"><strong>{{profile.followings}}</strong>关注</div>
        <div class="status"><strong>{{profile.fans}}</strong>粉丝</div>
        <div class="status"><strong>{{profile.reputation}}</strong>声望</div>
    </div>
    {% if relation == "self" %}
    <div class="ui-box-footer">
        <a class="ui-btn" href="{{url_for('message.index')}}">消息({{profile.unread}}/{{profile.messages}})</a>
        <a  class="js-overlay ui-btn" href="#">收藏({{profile.favourate}})</a>
    </div>
    {% else %}
    <div class="ui-box-footer">
        <a class="ui-btn" href="{{url_for('message.send', recv=user.username)}}">发送消息</a>
        <a  class="js-overlay ui-btn" href="{{user.url}}">查看Profile</a>
    </div>
    {% endif %}
</div>
{% endif %}
{% endmacro %}
